# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyrefly_cache/

# Environnements virtuels
.venv/
venv/
env/
ENV/

# Zed
.zed/

# OS
.DS_Store
Thumbs.db

# IDE (au cas où tu ouvres aussi dans VS Code / PyCharm)
.vscode/
.idea/
